body{
    background-color:#928f8f;
}
button {
background-color: #dbdd4a;
border: none;
color: #ffffff;
width: 30%;
padding: 5px;
text-align: center;
text-decoration: none;
margin-left: 35%;
display: center;
font-size: 15px;
border: 1px solid #ffffff;
}

#info{
font-size: 20px;
color: #ffffff;
}
